<% content_for :subnav do %>
  <div class="media">
    <% if current_user != @user %>
      <%= render partial: "avatar", locals: { user: @user } %>
    <% end %>
    <div class="media-body">
      <div class="col-md-8">
        <% if current_user == @user %>
          <div class="metadata">
            <span class="meta-title">Your Scraps</span>
          </div>
        <% else %>
          <div class="metadata">
            <span class="meta-title"><%= @user.username %></span>
          </div>
          <small>
            Last Active
            <% if @user.last_sign_in_at %>
              <%= time_ago_in_words(@user.last_sign_in_at) %> ago
            <% else %>
              Never
            <% end %>
          </small>
        <% end %>
      </div>
      <div class="col-md-4">
        <!-- for future use -->
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-9">
  <% if Array(@scraps).empty? %>
    <p>No scraps... how boring</p>
  <% else %>
    <%= render partial: "scraps/index_item", collection: @scraps %>
  <% end %>
</div>
<div class="col-md-3">
  <!-- Reserved for Sorting/Filtering -->
</div>

