<h3 id="address">Address - <code>(fake.address.*)</code></h3>
<p>Based on <%= link_to "Faker::Address", "#{docs_base}/Faker/Address", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.address.street_name</dt>
  <dd>Quitzon Station</dd>

  <dt>fake.address.street_address</dt>
  <dd>763 Morton Island</dd>

  <dt>fake.address.street_suffix</dt>
  <dd>Glens</dd>

  <dt>fake.address.secondary_address</dt>
  <dd>Suite 540</dd>

  <dt>fake.address.building_number</dt>
  <dd>775</dd>

  <dt>fake.address.postcode</dt>
  <dd>82374</dd>

  <dt>fake.address.time_zone</dt>
  <dd>Europe/Moscow</dd>

  <dt>fake.address.city_prefix</dt>
  <dd>East</dd>

  <dt>fake.address.city</dt>
  <dd>Marcelinoville</dd>

  <dt>fake.address.city_suffix</dt>
  <dd>town</dd>

  <dt>fake.address.state_abbr</dt>
  <dd>NC</dd>

  <dt>fake.address.state</dt>
  <dd>Vermont</dd>

  <dt>fake.address.country</dt>
  <dd>Bolivia</dd>

  <dt>fake.address.latitude</dt>
  <dd>-28.93680908829468</dd>

  <dt>fake.address.logitude</dt>
  <dd>-95.87298889449588</dd>
</dl>
<%= link_to_top %>
