<h3 id="bitcoin">Bitcoin - <code>(fake.bitcoin.*)</code></h3>
<p>Based on <%= link_to "Faker::Bitcoin", "#{docs_base}/Faker/Bitcoin", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.bitcoin.address</dt>
  <dd>19WpNAgPGKULJfeBzx6CvudTF3iUJhyq5d</dd>
</dl>
<%= link_to_top %>
