<h3 id="company">Company - <code>(fake.company.*)</code></h3>
<p>Based on <%= link_to "Faker::Company", "#{docs_base}/Faker/Company", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.company.bs</dt>
  <dd>incubate bleeding-edge infrastructures</dd>

  <dt>fake.company.catch_phrase</dt>
  <dd>Devolved didactic success</dd>

  <dt>fake.company.duns_number</dt>
  <dd>05-020-3145</dd>

  <dt>fake.company.ein</dt>
  <dd>71-2316870</dd>

  <dt>fake.company.name</dt>
  <dd>Kunde-Senger</dd>

  <dt>fake.company.sufix</dt>
  <dd>Inc</dd>
</dl>
<%= link_to_top %>
