<h3 id="commerce">Commerce - <code>(fake.commerce.*)</code></h3>
<p>Based on <%= link_to "Faker::Commerce", "#{docs_base}/Faker/Commerce", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.commerce.color</dt>
  <dd>orange</dd>

  <dt>fake.commerce.department</dt>
  <dd>Automotive</dd>

  <dt>fake.commerce.price</dt>
  <dd>76.84</dd>

  <dt>fake.commerce.product_name</dt>
  <dd>Sleek Cotton Shoes</dd>
</dl>
<%= link_to_top %>
