<h3 id="credit_card">Credit Card - <code>(fake.credit_card.*)</code></h3>
<p>Based on <%= link_to "Faker::Business", "#{docs_base}/Faker/Business", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.credit_card.number</dt>
  <dd>1212-1221-1121-1234</dd>

  <dt>fake.credit_card.type</dt>
  <dd>americanexpress</dd>

  <dt>fake.credit_card.expiry</dt>
  <dd>2015-11-11</dd>
</dl>

<p>
  <strong>NOTE:</strong> The type won't always match the number.
</p>
<%= link_to_top %>
