<h3 id="internet">Internet - <code>(fake.internet.*)</code></h3>
<p>Based on <%= link_to "Faker::Internet", "#{docs_base}/Faker/Internet", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.internet.domain_name</dt>
  <dd>kirlinparisian.name</dd>

  <dt>fake.internet.domain_suffix</dt>
  <dd>net</dd>

  <dt>fake.internet.domain_word</dt>
  <dd>stroman</dd>

  <dt>fake.internet.email</dt>
  <dd>declan.doyle@huel.com</dd>

  <dt>fake.internet.free_email</dt>
  <dd>vincent.west@yahoo.com</dd>

  <dt>fake.internet.ipv4_address</dt>
  <dd>207.183.179.194</dd>

  <dt>fake.internet.ipv6_address</dt>
  <dd>ca95:850e:de7:1238:59a1:3a19:318a:db2a</dd>

  <dt>fake.internet.mac_address</dt>
  <dd>2e:e5:98:7f:5d:3c</dd>

  <dt>fake.internet.password</dt>
  <dd>bixgop29f</dd>

  <dt>fake.internet.safe_email</dt>
  <dd>lempi_schoen@example.org</dd>

  <dt>fake.internet.slug</dt>
  <dd>itaque.delectus</dd>

  <dt>fake.internet.url</dt>
  <dd>http://sanford.info/franz</dd>

  <dt>fake.internet.user_name</dt>
  <dd>ward.treutel</dd>
</dl>
<%= link_to_top %>
