<h3 id="lorem">Lorem - <code>(fake.lorem.*)</code></h3>
<p>Based on <%= link_to "Faker::Lorem", "#{docs_base}/Faker/Lorem", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.lorem.character</dt>
  <dd>b</dd>

  <dt>fake.lorem.characters</dt>
  <dd>4to86gj1k53babfppxycqszez8i6vxid5s43j1nxy4hek4koscemvtrx <em>...(you get the idea)</em></dd>

  <dt>fake.lorem.paragraph</dt>
  <dd>Eaque nostrum aperiam animi qui amet. Nemo in laboriosam aliquam voluptas tempora nihil. Tempora qui adipisci quos. Porro qui vel molestiae impedit quod eveniet ea.</dd>

  <dt>fake.lorem.paragraphs</dt>
  <dd>Qui numquam minus alias ipsam necessitatibus quis. Delectus nobis officiis perspiciatis asperiores. Omnis incidunt ex eum ipsa quae repudiandae. Consectetur cum consequatur. Error possimus aut nostrum culpa.Quam ea rerum voluptas totam. Optio non omnis blanditiis ut voluptas. Alias rerum sit repellendus.Dolores amet natus asperiores et dolor. Commodi est in deserunt magnam sapiente voluptas. Soluta deleniti quo adipisci. Iste velit et nobis laudantium. Non facilis sunt.</dd>

  <dt>fake.lorem.sentence</dt>
  <dd>Nulla nihil esse nesciunt mollitia eveniet repellendus omnis.</dd>

  <dt>fake.lorem.sentences</dt>
  <dd>Repellendus aspernatur reprehenderit ut sunt quis qui.Exercitationem repudiandae repellendus quia quisquam et inventore ut.Nesciunt eos odio qui nihil.</dd>

  <dt>fake.lorem.word</dt>
  <dd>dolorum</dd>

  <dt>fake.lorem.words</dt>
  <dd>minusnondicta</dd>
</dl>
<%= link_to_top %>
