<h3 id="name">Name - <code>(fake.name.*)</code></h3>
<p>Based on <%= link_to "Faker::Name", "#{docs_base}/Faker/Name", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.name.first_name</dt>
  <dd>Americo</dd>

  <dt>fake.name.full_name</dt>
  <dd>Heather Littel</dd>

  <dt>fake.name.last_name</dt>
  <dd>Sporer</dd>

  <dt>fake.name.middle_initial</dt>
  <dd>Q</dd>

  <dt>fake.name.prefix</dt>
  <dd>Dr.</dd>

  <dt>fake.name.suffix</dt>
  <dd>IV</dd>

  <dt>fake.name.title</dt>
  <dd>Customer Communications Designer</dd>
</dl>
<%= link_to_top %>
