<h3 id="number">Number - <code>(fake.number.*)</code></h3>
<p>Based on <%= link_to "Faker::Number", "#{docs_base}/Faker/Number", target: :blank %> class methods (with handicaps).</p>
<p>
  <strong>NOTE:</strong> This will likely be replaced with a <code>random</code> liquid variable in the near future.
</p>
<dl class="inline clearfix">
  <dt>fake.number.digit</dt>
  <dd>5</dd>

  <dt>fake.number.small</dt>
  <dd>83.65898786386767 <em>(1-100)</em></dd>

  <dt>fake.number.medium</dt>
  <dd>170.5103375694651 <em>(100-1,000)</em></dd>

  <dt>fake.number.large</dt>
  <dd>995031.3161063221 <em>(1,000-1,000,000)</em></dd>

  <dt>fake.number.extra_large</dt>
  <dd>743685491153.5178 <em>(1,000,000-1,000,000,000,000)</em></dd>
</dl>
<%= link_to_top %>
