<h3 id="phone">Phone - <code>(fake.phone.*)</code></h3>
<p>Based on <%= link_to "Faker::PhoneNumber", "#{docs_base}/Faker/PhoneNumber", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.phone.area_code</dt>
  <dd>865</dd>

  <dt>fake.phone.cell_phone</dt>
  <dd>1-633-578-7235</dd>

  <dt>fake.phone.exchange_code</dt>
  <dd>724</dd>

  <dt>fake.phone.phone_number</dt>
  <dd>507.424.3451</dd>

  <dt>fake.phone.extension</dt>
  <dd>0731</dd>

  <dt>fake.phone.subscriber_number</dt>
  <dd>3549</dd>
</dl>
<%= link_to_top %>
