<h3 id="team">Team - <code>(fake.team.*)</code></h3>
<p>Based on <%= link_to "Faker::Team", "#{docs_base}/Faker/Team", target: :blank %> class methods.</p>
<dl class="inline clearfix">
  <dt>fake.team.creature</dt>
  <dd>enchanters</dd>

  <dt>fake.team.name</dt>
  <dd>Alabama warlocks</dd>

  <dt>fake.team.state</dt>
  <dd>Mississippi</dd>
</dl>
<%= link_to_top %>
