<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Glossary</h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Pile</dt>
      <dd>Namespace or grouping to help better organize your Scraps.</dd>

      <dt>Scrap</dt>
      <dd>A temporary API endpoint. Each Scrap belongs to a single Pile.</dd>
    </dl>
  </div>
</div>
