<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text navbar-left">
      &copy;<%= Time.now.year %> All rights reserved
    </div>
    <div class="navbar-text navbar-right">
      Fork this app
      <%= link_to "on Github", "https://github.com/ScrapprIO/scrappr.io",  target:"_blank" %>
      <span class="fa fa-github-alt"></span>
    </div>
  </div>
</nav>
