<% content_for(:subnav) do %>
  <div class="col-md-9">
    <div class="metadata">
      <span class="meta-title">Browse Scraps</span>
    </div>
  </div>
  <div class="col-md-3">
    <!-- TOOD: scrap ordering options -->
  </div>
<% end %>

<div class="col-md-9">
  <% if Array(@scraps).empty? %>
    <p>No scraps... how boring</p>
  <% else %>
    <%= render partial: "scraps/index_item", collection: @scraps %>
    <%= paginate @scraps %>
  <% end %>
</div>
<div class="col-md-3">
  <!-- Reserved for Sorting/Filtering -->
</div>
